* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../img/flo.jpg);
    background-size: 100% auto;
    overflow-x: hidden;
}

#upper {
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 12px 1px;
    display: flex;
    justify-content: space-evenly;
    padding: 9px;
}

#flower {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 3px;

}

.edit{
    text-decoration: none;
    font-family: Georgia;
    font-weight: bold;
    color: blue;}

.name{
    position: relative;
    top:80px;
    left:100px;
    height: 30px;
    width:400px;
    color: black;
    padding:6px;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-radius: 20px;
    border:1px solid black;
}

.tele{
     position: relative;
    top:140px;
    right:305px;
    height: 30px;
    width:400px;
    color: black;
    padding:6px;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-radius: 20px;
    border:1px solid black;
}

.logo{
    position: relative;
    top:200px;
    right:710px;
    height: 30px;
    width:400px;
    color: black;
    padding:6px;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-radius: 20px;
    border:1px solid black;
}

.sogo{
    position: relative;
    top:230px;
    left:100px;
    height: 30px;
    width:400px;
    color: black;
    padding:6px;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-radius: 20px;
    border:1px solid black;
}

#submit{
   position: relative;
   top:298px;   
   right:300px;
   height:30px;
   width:100px;
   background-color:#83A6CE;
   border: 1px solid black;
   box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
   font-family: sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
}

#submit:focus{
    border-radius: 20px;
    transition: 0.4s;
}

#rese{
   position: relative;
   top:298px;   
   right:140px;
   height:33px;
   width:105px;
   background-color:#83A6CE;
   border: 1px solid black;
   box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
   font-family: sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
}

#rese:focus{
    border-radius: 20px;
    transition: 0.4s;
}

#register{
     font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    position: relative;
    left:600px;
}